// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// src/css/quasar.variables.sass
/* 
$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1d1d1d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037; */
